* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

.center {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#search-bar {
	display: flex;
}

.search-input {
	/*display: inline-block;*/
	font-size: xx-large;
	/*width: 75%;*/
	margin-left: 5px;
	padding-left: 5px;
}

.search-logo {
	/*display: inline-block;*/
	width: 20%;
	margin: 0;
	font-size: xx-large;
	font-weight: 900;
	text-align: center;
	vertical-align: middle;
	color: #303F9F;
	/*border-bottom: 1px solid #1A237E;*/
}

.hero-logo {
	font-size: 20vw;
	text-align: center;
	vertical-align: middle;
	color: #303F9F;
}

input, .description {
	border: none;
	border-bottom: 1px solid #1A237E;
	width: 100%;
	margin-bottom: 10px;
	font-size: large;
	background-color: white;
}

.product-list {
	margin-bottom: 98px;
}

.product-card {
	display: flex;
	padding-top: 10px;
	width: 100%;
}

.product-description {
	margin-top: 5px;
	color: #666;
}

.product-image {
	width:64px;
	height:64px;
	margin-left: 10px;
	border-radius: 50%;
	background-color: #303F9F;
}

.product-content {
	margin-left: 20px;
}

.product-title {
	font-size: large;
	text-transform: capitalize;
}

.product-renter {
	padding: 3px;
}

/*FAB styles*/

.fab-btn {
	z-index: 9999;
	position: fixed;
	bottom: 1em;
	right: 1em;
	background-color: #F44336;
	width:60px;
	height:60px;
	border-radius:100%;
	background: #F44336;
	border:none;
	outline:none;
	color: #FFF;
	font-size:36px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition:.3s;  
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.fab-btn:focus {
	transform:scale(1.1);
	/*transform:rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);*/

}

/*Modal*/
.modal-dialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	z-index: 99999;
	opacity:0;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modal-dialog.always-open {
	opacity: 1 !important;
	pointer-events: auto !important;
}

.modal-dialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modal-dialog > div {
	max-width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 2px;
	opacity: 0.89;
	background: white;
	box-shadow: 0 0 0.7em black;
}

.modal-message {
	padding: 20px 0px;
	font-weight: bold;
	text-transform: capitalize;
}

.modal-btn {
	bottom: 1em;
	right: 1em;
	top: 2em;
	background-color:transparent;
	margin-top: 15px;
	padding:3px;
	text-transform: uppercase;
	border:none;
	outline:none;
	color:black;
	font-weight: bold;
	transition:.3s;
}

.send-sms {
	cursor: pointer;
}

.footer  {
	background-color: #212121;
	bottom: 0;
	box-shadow: 0 -3px 6px rgba(0,0,0,0.14), 0 -3px 6px rgba(0,0,0,0.20);
	color: white;
	font-size: small;
	padding: 15px 0;
	position: fixed;
	text-align: center;
	width: 100%;
}

.footer a {
	color: white;
	font-weight: bold;
}

@media only screen and (min-width: 769px) {
	.center {
		width: 60%;
	}

	.product-image {
		margin-left: 0;
	}

	#search-bar {
		margin-top: 2em;
	}
}