.center {
	/*text-align: center;*/
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

input {
	width: 60%;
	font-size: xx-large;
	font-style: sans-serif;
}

.product-card {
	padding-top: 10px;
	width: 100%;
}

.product-content{
}


.product-image {
		/*width: 20%;*/
		/*float: left;*/
		width:64px;
	height:64px;
	border-radius: 50%;
	background-color: blue;
}

.product-description {
	/*overflow: hidden;*/
}